
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <style>

        body {
            color: black;
        }

        * {
            box-sizing: border-box;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }

        .box {
            float: left;
            width: 100%;
            padding: 0px;
        }

        .boxHalf {
            float: left;
            width: 50%;
            padding: 0px;
            border: 1px solid gray;
        }

        .boxHeaderL {
            /*float: left;*/
            width: 20%;
            padding: 0px;
            text-align: left;
        }

        .boxHeaderR {
            /*float: left;*/
            width: 80%;
            padding: 0px;
            text-align: center;
        }

        .tblBox {
            border-collapse: collapse;
            width: 100%;
            padding: 0px;
            float: left;
        }

        .headingh3 {
            font-size: 15pt;
            font-family: 'Segoe UI';
            padding: 2px;
            text-decoration: underline;
        }

        th {
            border: 1px solid black;
            font-size: 12px;
            font-family: 'Segoe UI';
        }


        td {
            border: 1px solid black;
            font-size: 12px;
            font-family: 'Segoe UI';
        }


        h5, h4 {
            font-size: 10pt;
            font-family: 'Segoe UI';
        }

        h3 {
            font-size: 10pt;
            font-family: 'Segoe UI';
        }

        .buttomMargin {
            margin-bottom: -20px;
            padding-bottom: 0px;
        }

        .footer {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: red;
            color: white;
            text-align: center;
        }
    </style>
</head>
<body>
    <div style="width:100%; text-align:center; height:100%">
        <div style="width:100%;height:100%;">
            <table class="tblBox">
                <tbody>
                    <tr>
                        <th style="text-align:left;width:7%"> <img height="70" width="200" src="" /></th>
                        <th style="width:80%;text-align:center;background-color:white;font-family: 'Segoe UI'">
                            <spam style="width:80%;font-family: 'Segoe UI';font-weight:bold;font-size:20px">@ViewBag.CompanyName</spam>   <br />
                            <spam style="font-family: 'Segoe UI';font-size:small;font-weight:400"> @ViewBag.CompanyAddress</spam> <br />
   
                                                       <spam style="width:80%;font-family: 'Segoe UI';font-weight:bold;font-size:20px">Empty Out Gate Pass Print</spam>
                        </th>
                    </tr>
                </tbody>
            </table>
            <div class="printBody clearfix">
                <div class="box">
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <th style="width:15%;text-align:left;border:none;font-weight:400;font-weight:bold;">GP No</th>
                                <td style="width:35%;text-align:left;border:none;">:<label style="visibility:hidden">Sp</label> @ViewBag.SLIP_NO</td>
                                <th style="width:15%;text-align:left;border:none;font-weight:400;font-weight:bold">GP Date</th>
                                <td style="width:35%;text-align:left;border:none;">:<label style="visibility:hidden;font-weight:400">Sp</label> @ViewBag.OUT_DATE</td>
                            </tr>
                            <tr>
                                <th style="width:15%;text-align:left;border:none;font-weight:400;font-weight:bold;">Movement Type</th>
                                <td style="width:35%;text-align:left;border:none;">:<label style="visibility:hidden">Sp</label> @ViewBag.MovementType</td>
                                <th style="width:15%;text-align:left;border:none;font-weight:400;font-weight:bold">Transport Name</th>
                                <td style="width:35%;text-align:left;border:none;">:<label style="visibility:hidden;font-weight:400">Sp</label> @ViewBag.TransportName</td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <hr style="font-weight:bold" />
            </div>
            <div style="text-align:left;">
                <div style="text-align:left;">
                    <h3>Container Details</h3>
                </div>
            </div>
            <div class="printBody clearfix" style="margin-bottom:2%">
                <div class="box">
                    <table class="tblBox" id="tablegetdetails">
                        <thead>
                            <tr>

                                <th style="background-color: #ede5e5">Container No</th>
                                <th style="background-color: #ede5e5">Size</th>
                                <th style="background-color: #ede5e5">Container Type</th>
                                <th style="background-color: #ede5e5">Vehicle No</th>
                                
                                <th style="background-color: #ede5e5">Driver Name</th>
                                <th style="background-color: #ede5e5">Line Name</th>


                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var dr in ViewBag.ContainerList)
                            {
                            <tr>


                                <td style="text-align:center">@dr["Container No"]</td>
                                <td style="text-align:center">@dr["Size"]</td>
                                <td style="text-align:center">@dr["Container Type"]</td>
                                <td style="text-align:center">@dr["Vehicle No"]</td>
                                <td style="text-align:center">@dr["Driver Name"]</td>
                                <td style="text-align:center">@dr["Line Name"]</td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div>
                &nbsp;
            </div>
            <div class="printBody clearfix">
                <div class="box">
                    <table class="tblBox">
                        <tbody>
                            <tr>
                                <td style="width:10%;text-align:center;border:none">Signature Of CHA :-</td>
                                <td style="width:30%;text-align:center;border:none">_______________________________________</td>
                                <td style="width:30%;text-align:center;border:none"></td>
                                <td style="width:30%;text-align:center;border:none">Contact Number :-</td>
                                <td style="width:30%;text-align:center;border:none">_______________________________________</td>
                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                &nbsp;
            </div>

        </div>

    </div>
</body>
</html>
@*<script>
        setTimeout(function () {
            window.onload = window.print();
        }, 2000);
        wondow.onload = function () {
            show();
        };
    </script>

    <script>
        setTimeout(function () {
            window.onload = window.close();
        }, 2000);
        wondow.onload = function () {

        };


    </script>*@

